@model Phoenix_Bakeries.Models.NewTransfer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NewTransfer</h4>
<hr />
<div class="row">
    @if (TempData["AccountError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["AccountError"]
        </div>
    }

    @if (TempData["otpRequired"] != true)
    {
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nuban" class="control-label" hidden></label>
                    <input asp-for="Nuban" class="form-control" hidden />
                </div>
                <div class="form-group">
                    <label asp-for="AccountNumber" class="control-label"></label>
                    <input asp-for="AccountNumber" class="form-control" />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BankCode" class="control-label"></label>
                    <select asp-for="BankCode" class="form-control" asp-items="ViewBag.Banks" />
                    <span asp-validation-for="BankCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Currency" class="control-label" hidden></label>
                    <input asp-for="Currency" value="NGN" class="form-control" hidden />
                </div>
                <div class="form-group">
                    <input type="submit" value="Validate Account" class="btn btn-primary" />
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="col-md-4">
            <form asp-action="CreateConfirmed" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AccountNumber" class="control-label"></label>
                    <input asp-for="AccountNumber" class="form-control" value="@TempData["NumberAcc"]" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="BankCode" class="control-label"></label>
                    <input asp-for="BankCode" class="form-control" value="@TempData["Bank"]" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" value="@TempData["Amount"]" disabled />
                </div>
                <div class="form-group">
                    <label class="control-label">Account Name</label>
                    <input asp-for="Description" class="form-control" value="@TempData["NameAcc"]" disabled />
                </div>
                <div class="form-group">
                    <input name="TransferCode" class="form-control" type="text" value="@TempData["TransCode"]" hidden/>
                </div>
                <div class="form-group">
                    <label class="control-label">OTP</label>
                    <input name="otpValue" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Send Money" class="btn btn-primary" />
                </div>
            </form>
        </div>
    }

</div>


